/* stylelint-disable */
@import "./style.sass"

$blue: #2f4858
$green: #008d78

$brown1: #534741
$brown2: #785b4b
$brown3: #c69c6d

$red: #dc3545
$gray1: #333
$gray2: #555
$gray3: #777
$gray4: #ccc
$gray5: #F1ECE4
$white: #fff

body
  color: $gray1
a, a:hover, a:active, a:focus, a:visited
  text-decoration: none
  cursor: pointer
  // color: $blue
th.actions, td.actions
  width: auto
  text-align: center
  .fa
    margin-bottom: 5px

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:visited
  background-color: $green !important
  border-color: $green !important
  box-shadow: none !important
  color: $white !important

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:visited
  background-color: $blue !important
  border-color: $blue !important
  box-shadow: none !important
  color: $white

.btn-default
  box-shadow: none !important
  border-color: $gray5
  color: $gray1 !important
.badge
  color: $white !important
  margin-right: 2px
.badge-primary
  background-color: $green !important
  border-color: $green !important
  box-shadow: none !important
  color: $white !important
.badge-default
  box-shadow: none !important
  background-color: $gray3
  color: $white !important

.bg-blue
  background-color: $blue
.bg-green
  background-color: $green !important

.red
  color: $red !important

.text-gray
  color: $brown2
.text-brown
  color: $brown2 !important
.text-brown3
  color: $brown3 !important

.pointer
  cursor: pointer

.full-height
  min-height: 100vh
.login
  .logo
    max-width: 120px
  .modal-body
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
.navbar
  background-color: $white
  box-shadow: 1px 2px 3px rgba(0,0,0,.1)
  .navbar-brand
    color: $blue
    .logo
      max-width: 44px
      margin-right: 5px
  #sidebar
    margin: 15px -16px -8px -16px
    // border-bottom: 1px solid $white
.sidebar-wrapper
  flex-basis: 400px
  min-height: calc(100vh - 72px)
  background-color: $green
  border-right: 1px solid #ddd
.sidebar
  border-radius: 0
  color: $white
  font-size: 16px
  margin-bottom: 0 !important
  a
    color: $white !important
  .fa, .fas, .far
    margin-right: 10px
  .fa-chevron-down
    margin-left: 5px
  .bi-chevron-down
    margin-left: 10px
  .nav-item a
    padding: 10px
    // padding-left: 0
  .list-group-item
    background: $green
    border: 0
    padding: 20px
    &.submenu
      background: $blue
  .nuxt-link-exact-active
    background-color: $green
    border-radius: 3px
.mobile-footer
  a.text-white
    color: $gray1 !important
.breadcrumb-wrapper
  .breadcrumb
    color: $white
    background-color: $green
    border-radius: 0
    padding: 20px
    margin-bottom: 20px
    padding-right: 50px
    & > li + li:before
      padding: 0 5px
      color: $white
      content: "\A0/\A0"
    a
      color: $white
      font-weight: bold
  .moon
    width: 24px
    height: 24px
    border: 1px solid $white
    background-color: $white
    border-radius: 50%
    float: right
    margin-right: 20px
    margin-top: -64px
    overflow: hidden
    cursor: pointer
    transform: rotate(45deg)
    box-shadow: 0 0 5px #fff
    .earth
      background-color: $green
      width: 100%
      height: 100%
      border-radius: 50%
.modal-header
  font-size: 14px
  .modal-title
    font-size: 16px
.modal-body
  background-color: $blue
  color: $white
.modal-backdrop
  opacity: 0.9
.vue-notification-group, .vue-notification, .notification-content
  font-size: 16px
  font-weight: bold
